.product{
    width: 300px;
    height: 575px;
    border: 1px solid  #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
    
}
.product-info{
    margin: 0px 14px;
}
.product-name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    margin-top: 7px;
}
.blog{
    color: darkgrey;
}
.product-info p {
    margin-bottom: 0;
    margin-top: 5px;
}
.btn-cart{
    width: 100%;
    background-color: #686DE0;
    border-radius: 0 0 8px 8px;
    border: none;
    color: white;
    position: absolute;
    bottom: 0;
    font-weight: bold;
}
.btn-cart:hover{
    background-color: blueviolet;
}